header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 20vh;
  margin-bottom: 2rem;
  background: #222;
  border-bottom: 0.2rem solid #000;
}

h2 {
  color: #fff;
  font-weight: 500;
}

form {
  display: flex;
  gap: 0.75rem;

  position: absolute;
  top: 15.5vh;
  left: 50%;
  transform: translate(-50%);
}

form input,
button {
  border-radius: 0.57rem;
  padding: 0.75rem;
  border: 0;
}

form input {
  width: 30vw;
  background-color: #333;
}

form button {
  background-color: #00aaee;
}
