header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 550px;
  height: 3rem;
  padding: 0 7rem;
  margin-bottom: 5rem;
  background: #fff;
  border-bottom: 0.2rem solid #000;
}

h2 {
  color: #000;
  font-weight: 500;
}

.nav {
  display: flex;
  gap: 1.25rem;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 600;
  color: #000;
}

.nav button {
  width: 8vw;
  height: 2vh;
  padding: 1rem 0;
  border-radius: 1rem;
  border: 0.2rem solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.nav button i {
  font-size: 1.7rem;
  font-weight: 500;
}

.day {
  background-image: url("../../assets/day.jpg");
  background-size: cover;
  color: #000;
}

.night {
  background-image: url("../../assets/night.png");
  background-size: cover;
  color: #fff;
}
